<?xml version="1.0"?>
<model>
  <name>x500_lidar_gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Samuel Folorunsho and Abraham P. Vinod</name>
    <email>vinod@merl.com</email>
  </author>
  <description>
    X500 quadrotor with gimbal and 3D LiDAR for combined imaging and navigation capabilities
  </description>
</model>
