<?xml version="1.0"?>
<model>
  <name>x500_gimbal_photographer</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Samuel Folorunsho and Abraham P. Vinod</name>
    <email>vinod@merl.com</email>
  </author>
  <description>Gimbal with camera model for photographer</description>
</model>
